html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    -webkit-font-smoothing: antialiased;
}


html,body,section{
    margin:0;
    padding:0;
    width:auto;
    border:0 none;
    min-height:100%;
    height:100%;
}
#app{
    min-height:100%;
    position:relative;
}
.container{
     margin:0;
    padding:0;
     width:auto;
     border:0 none;
    min-height:100%;
    position:relative;
 }
.index-header{
    /*background-image: url(../img/invia-index1.jpg);*/
    /*background-repeat:no-repeat;*/
    background: url(../img/Students2.jpg) no-repeat center;
    background-size:cover;
    /*-moz-background-size: 100% 100%;*/
    /*background-size:100% 100%;*/
    /*background-position: center;  !* Internet Explorer 7/8 *!*/
    width:100%;


}

.intro-box{
    height: 100vh;
    display: table;
    text-align: center;
    width: 100%;



}
.intro{
    display: table-cell;
    vertical-align: middle;
    color: ghostwhite;

}
.intro h1{
    margin-bottom: 1em;
    color:black;
}
.intro h3{
    margin-bottom: 4.5em;
    color:black;

}
.intro a{
    color:ghostwhite;
}
.intro a:hover{
    background-color:#67f5ff;
}
.header-btn{
    border-color: #fff;
    color: #fff;
}

.about{
    background-color: #f8f8f8;
    min-height:726px;
    width:100%;
    height:100%;
}
.section{
    padding: 50px 0;
}
.title{
    position: relative;
    margin-bottom: 100px;
    text-align:center;
}
.title:after{
    content: '';
    height: 5px;
    width: 40px;
    background-color: #62aa94;
    position: absolute;
    top: 81px;
    left: calc(50% - 20px);
}
.aboutspan{
    position: relative;
    text-align:right;
    padding:50px;
    margin-right:20px;
}
.aboutbtn1{
    text-align:center;
}

.aboutbtn2{
    border-color: black;
    color: black;

    margin-top:100px;
}
.aboutbtn2:hover{
    background-color: #67f5ff;
}
.home_intro h4{
    line-height: 1.5;

}

.index-services-content{
    width:100%;
    height:400px;
    /*background-color: black;*/
    margin: auto;
}
.index-services-content-left{
    width:50%;
    height:100%;
    display: inline-block;
    float:left;
    padding-right:10px;
}
.index-services-content-right{
    width:50%;
    height:100%;
    display: table;
    float:left;
    padding-left:10px;

    /*background-color: black;*/
}
.index-services-content-left-header{
    color:#58a8f6;
    /*text-align: center;*/

}
.index-services-content-left-body{
    margin-top:20px;

}
.index-services-content-right-body{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
.index-services-content-right-body-img{
    height:auto;
    width:auto;
    max-height:100%;
    max-width:100%;

}
/*.divider{*/
    /*height: 1px;*/
    /*border-top: 1px solid black;*/
    /*text-align: center;*/
    /*background-color: black;*/
    /*margin*/
/*}*/
/*.divider span{*/
    /*position: relative;*/
    /*top: -8px;*/
    /*!*background: #fff;*!*/

    /*padding: 0 20px;*/
/*}*/
/*media queries*/

@media screen and (max-width:770px){


    .intro h3{
        font-size:22px;
    }
    .home_intro{
        width:80%;
        margin:0 auto;
    }
    .aboutbtn1{
        margin-top:-50px;
    }
    .index-services-mobile{
        width:100%;
    }
    .index-services-mobile-header{
        text-align:center;
    }
    .index-services-mobile-top{
        width:100%;
        padding-right:0px;
    }
    .index-services-mobile-bot{
        width:100%;
        padding-left:0px;
        margin-bottom:-150px;
        margin-top:-50px;
    }
}
