.login_container{
    width:60%;
    margin:auto;
    margin-top:10%;
    min-height: 555px;

}
.login_header{

    border-bottom: 1px solid blanchedalmond;
    padding-bottom: 5px;
}
.login_header h3{
    display:inline;
}
.login_body{
    margin-left:20%;

    margin-top:10%;
}
.login_btn{
    width:100%;
    margin-left:45%;
}
.login-forgot{
    margin-left:18%;
}
.signup-password-comfirm label{

    margin-top:-10px;
}