body{
    padding:0;
    margin:0;
}


ul li{
    list-style-type: none;
    /*text-decoration: none;*/

}
.col-md-12 .column ul li{
    text-decoration: none;
}

.navcontainer{

    display:inline;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1;
    text-decoration: none;
    background-color: snow;
    height:60px;
    opacity:0.6;
    box-shadow: 0 4px 6px #666;
}
.nav-col{
    height:100%;
    /*background-color: black;*/
    text-decoration: none;
    border:0 none;
}
.nav-col ul{
    margin-top:0.8%;
    border:none;
}
/*.invia-nav{*/
    /*list-syle:none;*/
/*}*/
/*.nav-bgcolor{*/
    /*background-color: snow;*/
    /*height:60px;*/
    /*opacity:0.95;*/

/*}*/
.logo{
    width:40px;
    height:40px;
}

.nav{
    display:inline;
    margin:0;
    border:none;
}



.nav-right{
    position:relative;
    text-align:center;
    /*margin-right:40px;*/
    /*list-syle:none;*/

    float:right;

}
.nav-right li{
    font-size:17px;
    display:inline;
    margin-right:30px;
}

.nav-right a{
    color:black;
}
.nav-right a:hover{
    text-decoration: none;
    cursor:pointer;
    color:deepskyblue;
}

                            /*media queries*/


@media screen and (max-width:800px){

    .logo{
        margin-left: -40px;
        margin-top:2px;
        width:40px;
        height:40px;
    }
    .nav-right li{
        font-size:24px;

    }
    .nav-col ul{
        margin-top:8px;
    }
}

@media screen and (max-width:500px){

    .logo{
        margin-left: -40px;
        margin-top:2px;
        width:40px;
        height:40px;
    }
    .nav-right li{
        font-size:18px;
        margin-right:10px;


    }
    .nav-col ul{
        margin-top:10px;
    }
}
@media screen and (max-width:400px){

    .logo{
        margin-left: -40px;
        margin-top:-5px;
        width:40px;
        height:40px;
    }
    .nav-right li{
        font-size:15px;

    }
    .nav-col ul{
        margin-top:5px;
    }
}
@media screen and (min-width:1500px){
    .navcontainer{
        height:120px;
    }

    .logo{
        margin-left: -40px;
        margin-top:5px;
        width:80px;
        height:80px;
    }
    .nav-right li{
        font-size:35px;

    }
    .nav-col ul{
        margin-top:15px;
    }
}